@viewport {
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body.light {
  --bg: #fff;
  --text: #111;
  --text-header: #000;
  --hr: #ddd;
  --code-bg: rgba(0, 0, 0, 0.05);
  --code-block-bg: #282c34;
  --code-text: #333;
  --selection: rgba(250, 240, 20, 0.5);
  --mark: rgba(250, 240, 20, 1);
  --info: hsla(200, 0%, 0%, 0.55);
}

body.dark {
  --bg: #363636;
  --text: #b0b0b0;
  --text-header: #fff;
  --hr: rgba(255, 255, 255, 0.5);
  --code-bg: rgba(255, 255, 255, 0.05);
  --code-block-bg: rgba(0, 0, 0, 0.5);
  --code-text: rgba(255, 255, 255, 0.8);
  --selection: rgba(155, 77, 202, 0.5);
  --mark: rgba(155, 77, 202, 1);
  --info: rgba(255, 255, 255, 0.5);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter UI', -system-ui, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.8s ease;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  -moz-font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
  -ms-font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
  -o-font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
  -webkit-font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
  font-feature-settings: 'calt' 1, 'kern' 1, 'liga' 1;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter UI var', -system-ui, system-ui, sans-serif;
  }
  html.vf-alt body {
    font-family: 'Inter UI var alt', -system-ui, system-ui, sans-serif;
  }
}

p,
ul,
ol,
pre,
blockquote,
object {
  margin: 1rem 0;
}
pre,
code,
tt {
  font-family: 'SFMono-Regular', Menlo, 'Liberation Mono', Consolas, Courier, monospace;
}
img {
  border: none;
  vertical-align: bottom;
}
hr {
  height: 1px;
  border: none;
  background-color: var(--hr);
  width: 80%;
  margin: 2rem auto;
}

strong,
b {
  font-weight: 600;
}

article {
  margin-bottom: 4rem;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--text-header);
  margin: 1.618rem 0 0.7rem 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: 1.1;
  margin-left: -2px;
}
@media only screen and (min-device-width: 480px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
  line-height: 1.35;
  margin-left: -0.5px;
}
h3 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.35;
}
h4 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.35;
}
h5,
h6 {
  font-size: 1.2rem;
  margin: 1rem 0 -0.2rem 0;
  letter-spacing: 0.01rem;
}

/* anchors */
a[href]:not(.anchor):not(.gatsby-resp-image-link) {
  text-decoration: none;
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, var(--text) 100%, rgba(0, 0, 0, 0) 0);
  background-image: linear-gradient(to right, currentColor 100%, currentColor 0);
  background-size: 1px 1px;
  background-position: 0 1.05rem;
  background-position: 0 calc(1rem + 3px);
  color: inherit;
  display: inline-block;
}

.anchor svg {
  fill: var(--text-header);
}

/* anchors: headings */
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  background: transparent !important;
}

h1 a:focus:not(.anchor),
h2 a:focus:not(.anchor),
h3 a:focus:not(.anchor),
h4 a:focus:not(.anchor) {
  outline: none;
  background: var(--selection) !important;
}

header h1 a:focus {
  background: transparent !important;
}

mark,
::selection {
  background: var(--selection);
  text-shadow: none;
  padding: 0 3px;
}

mark {
  background: var(--mark);
}
main {
  margin: 0 2rem;
}

blockquote {
  border-left: 3px solid var(--text);
  padding: 0.2rem 2rem;
  font-style: italic;
}

ul {
  padding-left: 1rem;
}

ul li del {
  opacity: 0.5;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  margin: 2rem 2rem 5rem 2rem;
}
.header h1 {
  background: var(--mark);
  font-size: 3rem;
  padding: 0 1rem;
  height: 3.8rem;
  margin: 0 -1rem;
}
.header h1 a::selection {
  background: transparent;
}
.header h3 {
  font-size: 2rem;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.footer,
nav {
  margin-top: 4.375rem;
  padding-top: 1.75rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
.info {
  color: var(--info);
}

.post-list header h3 {
  margin-bottom: 0;
}

.feather {
  stroke: var(--text-header);
  fill: var(--text-header);
  transition: all 500ms ease-in;
}

.darkLightMode {
  cursor: pointer;
  margin-top: 0.5rem;
  height: 24px;
  width: 24px;
  padding: 0.2rem;
  border-radius: 50%;
}

.darkLightMode .feather {
  opacity: 0.3;
}

.darkLightMode.focus .feather,
.darkLightMode:hover .feather {
  opacity: 1;
}

.darkLightMode.focus .feather-moon,
.darkLightMode:hover .feather-moon {
  stroke: #9b4dca;
}
.darkLightMode.focus .feather-sun,
.darkLightMode:hover .feather-sun {
  stroke: rgba(250, 240, 20, 1);
}

.darkLightMode input[type='checkbox'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.tags {
  display: flex;
  margin: 1rem 0 2rem 0;
}
.tag:not(.token) {
  background: var(--code-bg);
  border-radius: 3px;
  margin-right: 0.6rem;
  padding: 0.1rem 0.9rem;
  font-size: 0.8888rem;
  height: 1.5rem;
  vertical-align: bottom;
  line-height: 1.5rem;
}

.tag:not(.token) a:not(.anchor):not(.gatsby-resp-image-link) {
  background: none;
}
