.aside {
  position: fixed;
  top: 150px;
  margin-left: -100px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s 0s;
}
.aside.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.3s 0s;
}
.aside a {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.84);
  opacity: 0.65;
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: none;
  box-sizing: border-box;
  margin: 10px 3px;
}
.aside a:hover {
  opacity: 1;
}
.ssrAnimation {
  animation-delay: 2s;
  animation-duration: 0.3s;
  animation-name: toggle;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes toggle {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
