@media only screen and (min-device-width: 480px) {
  .aside {
    position: fixed;
    top: 150px;
    margin-left: -50px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s 0s;
  }
  .aside.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.3s 0s;
  }
}
.aside a:not(.anchor):not(.gatsby-resp-image-link) {
  font-size: 17px;
  color: var(--text);
  opacity: 0.65;
  position: relative;
  background: var(--bg);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: none;
  box-sizing: border-box;
  margin: 10px 3px;
  height: 24px;
  background: transparent !important;
}
@media only screen and (min-device-width: 480px) {
  .aside a:not(.anchor):not(.gatsby-resp-image-link) {
    display: block;
  }
}
.aside a:hover {
  opacity: 1;
}
.aside a:focus {
  outline: none;
  opacity: 1;
}
.ssrAnimation {
  animation-delay: 2s;
  animation-duration: 0.3s;
  animation-name: toggle;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes toggle {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
