.article {
  outline: 0;
  word-break: break-word;
  word-wrap: break-word;
}
.title {
  padding-top: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
  font-size: 42px;
  margin: 0;
}
